div {
    height:85vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) ), url('../../../images/1-1-1.jpg');
    background-size: cover;
    overflow: auto;
    margin-top:30px;
}
h3 {
    margin-top: 60px;
    font-size: 50px;
    margin-left:20px;
    font-family: 'Signika', sans-serif;
    color:white;
}

ul {
    margin-top :100px;
    margin-left: 20px;
    font-size: 35px;
    font-family: 'Signika', sans-serif;
    list-style: none;
}

li {
    text-align: justify;
    color:white;
}

@media only screen and (max-width: 600px) {
    div {
        height:76vh;
        background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) ), url('../../../images/1-1-1.jpg');
        background-size: cover;
    }
    h3 {
        top:50px;
        font-size: 25px;
        left:20px;
        font-family: 'Signika', sans-serif;
        color:white;
    }
    
    ul {
        margin-top :100px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
        font-family: 'Signika', sans-serif;
        list-style: none;
    }
    
    li {
        text-align: justify;
        color:white;
    }

}